$primary-color: #00b0ad
$black: black
$white: white

@font-face
  font-family: 'geometria'
  src: url('../fonts/Geometria.ttf')
  src: url('../fonts/Geometria.eot')
  src: url('../fonts/Geometria.woff')

@font-face 
	font-family: 'Geometria Bold'
	src: url('../fonts/Geometria-Bold.ttf')
	src: url('../fonts/Geometria-Bold.eot')
	src: url('../fonts/Geometria-Bold.woff')

*
	margin: 0
	padding: 0
	// box-sizing: border-box
html
	background: url(/img/bg/test_4.png)
	background-repeat: repeat
a
	color: $primary-color
h1
	font-size: 46px

h2
	font-size: 32px

h3
	font-size: 30px

body
	color: #111
	font-family: Geometria, sans-serif
	font-size: 16px
	font-weight: 300

	-webkit-font-smoothing: antialiased
	-webkit-overflow-scrolling: touch

	// background: url(/img/mood_animation_0115s_delay.gif) no-repeat
	// background: url(/img/mood_animation_0115s_delay_wo_bg_last.gif) no-repeat
	// background-repeat: repeat
	// background-position: 95% 15%
	// background: url('https://upload.wikimedia.org/wikipedia/commons/a/a9/Mood_animation.gif') no-repeat
	// background-size: 20%
	// background: url(/img/bg/body_bg.png) no-repeat
	// background-position: 70% 20%
	// background-size: 20%
	color: $black

.container
	// width: 1024px
	// max-width: 1170px;
	width: 1170px
	// width: 100%
	margin: 0 auto
	padding: 0 15px
	box-sizing: border-box

.clearfix
	clear: both

#header
	// padding-top: 50px
	// margin: 50px 0
	.header-logo
		float: left
		min-width: 250px
		height: 50px
		// margin-right: 250px
		background-color: $primary-color
		background: url("../img/logo.png") no-repeat
		background-size: contain
	.partners
		float: left
		// min-width: 400px
		.logo1, .logo2
			background-color: $primary-color
			height: 40px
			float: left
			// display: inline-block
			// margin-right: 40px
			min-width: 150px
			&:hover
				// opacity: .7
				transform: scale(1.1)
				transition: .3s ease-in-out
			a
				display: block
				width: 100%
				height: 100%
		.logo1
			background: url("../img/key_preclinicals.png") no-repeat
			background-size: contain
		.logo2
			background: url("../img/spectrum_info.png") no-repeat
			background-size: contain

	.tagline
		float: left
		margin-left: 450px
		color: $primary-color
		font-weight: bold
		h2
			font-size: 24px


				

.header-wrapper
	margin: 50px auto 30px

nav
	margin-top: 40px
	width: 100%
	text-align: center
	ul
		list-style: none
		padding: 0
		// font-size: 15px
	a
		text-decoration: none
		outline: none
		display: block
		transition: .2s ease-in-out
		color: $black

.topnav
	// text-align: center
	// width: 100%
	// margin-bottom: 10px
	>li
		// text-transform: uppercase
		display: inline-block
		position: relative
		border-right: 1px solid $primary-color
		margin-right: -4px
		padding: 0 10px
		font-size: 16px
		&:first-child
			padding-left: 0px
		&:last-child
			border: none
			padding-right: 0px
		&:hover
			background: $primary-color
			>a
				color: $white
			.subnav
				// display: block
				visibility: visible
				opacity: 1
				transform: scale(1)
				transition: .4s ease-in-out
				// transform: scale(1)

.subnav
	// margin-top: 20px
	text-align: center
	padding: 10px
	width: 200px
	margin-left: -100px
	// display: none
	visibility: hidden
	background: $white
	position: absolute
	left: 50%
	right: 50%
	top: 100%
	border: 1px solid #ededed
	opacity: .2
	transform: scale(.8)
	>li
		font-size: 14px
		border-bottom: 1px solid #ededed
		line-height: 2em
		&:last-child
			border: none
		&:hover
			background: $primary-color
			transition: .4s ease-in-out
			a
				color: white

// Main page content
.main-page_content
	background: url(/img/mood_animation_0115s_delay_wo_bg_last_1.gif) no-repeat
	background-position: 90% 0%
	background-size: 28%
	h2
		margin-top: 50px
		// margin 50px 0
		// margin: 0px 10px
		width: 70%
	.desc
		margin: 50px 0 100px
		width: 700px
		font-size: 18px

/* .partners
	margin-bottom: 50px
	p
		font-size: 20px
		font-weight: 	bold
	.partners-logos
		margin-left: -25px
		.logo1, .logo2
			background-color: $primary-color
			height: 70px	
			display: inline-block
			margin-right: 40px
			min-width: 262px
			&:hover
				// opacity: .7
				transform: scale(1.1)
				transition: .3s ease-in-out
			a
				display: block
				width: 100%
				height: 100%
		.logo1
			background: url("../img/key_preclinicals.png") no-repeat
			background-size: contain
		.logo2
			background: url("../img/spectrum_info.png") no-repeat
			background-size: contain */

.dwnlds
	margin-top: 100px
	.dwnlds-info
		width: 550px
		float: none
		font-size: 16px
		margin-bottom: 30px
	.dwnlds-btn
		float: left
		width: 550px
		height: 50px
		font-size: 26px
		margin-right: 30px
		background-color: $primary-color
		text-align: center
		font-weight: bold
		border-radius: 3px
		&:last-child
			margin-right: 0
		a
			display: block
			color: white
			width: 100%
			height: 100%
			text-decoration: none
			padding-top: 6px
		&:hover
			background-color: darken($primary-color, 5%)
			// transform: scale(0.95)
			transition: 0.3s ease-in-out

.bb-shop-link
	// font-weight: bold
	font-size: 30px
	display: block
	color: $black
	font-weight: bold
	margin-bottom: 40px

/* Latest News */

.latest-news
	h3
		font-weight: bold
		margin-top: 40px
		margin-bottom: 25px
	.latest-news-item
		display: inline-block
		width: 263px
		margin-left: 30px
		margin-right: -4px
		// margin-right: -4px
		&:first-child
			margin-left: 0px
		.latest-news-item-date
			margin-bottom: 10px
			font-style: italic
			font-weight: bold
		.latest-news-item-title
				font-weight: bold
				margin-bottom: 5px
		.latest-news-item-text
				font-size: 14px

	.latest-news-wrapper
		.latest-news-btn
			margin: 40px auto
			height: 50px
			width: 275px
			background-color: $primary-color
			border-radius: 3px
			a
				display: block
				width: 100%
				height: 100%
				text-decoration: none
				color: $white
				text-align: center
				font-weight: bold
				font-size: 20px
				padding-top: 10px
			&:hover
				background-color: darken($primary-color, 5%)
				transition: 0.3s ease-in-out

/* Footer */
#footer
	font-size: 13px
	margin-bottom: 20px
.footer-line
	width: 100%
	height: 1px
	background-color: $black
	margin-bottom: 20px
.footer1, .footer2, .footer3, .footer4
	display: inline-block
	margin-left: 30px
	margin-right: -4px

.footer1, .footer2
	width: 263px
.footer3
	width: 362px
.footer4
	width: 165px
	text-align: right
	font-size: 32px
	color: grey
	.fa:hover
		color: $primary-color
		transition: .3s ease-in-out
		cursor: pointer

.footer-wrapper
	>div:first-child
		margin-left: 0














	
	
